<html>
  <head>
    <title>Login page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style type="text/css">
      .error_messages{
        color:red;
      }
      .container{
        width: 500px;
        border-style:outset;
        margin-top: 100px;
      }
    </style>
  </head>

<body>
   <div class="container">
      <h1>Sign Up</h1>

      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <p>
          <%= f.label :username %><br />
          <%= f.text_field :username , class:"form-control"%>
        </p>
        <p>
          <%= f.label :email %><br />
          <%= f.text_field :email , class:"form-control" %>
        </p>
        <p>
          <%= f.label :password %><br />
          <%= f.password_field :password , class:"form-control"%>
        </p>
        <p>
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation , class:"form-control"%>
        </p>
        <p class="button"><%= f.submit class:"btn btn-primary"%></p>
      <% end %>
  </div>
<body>
</html>
